@import "../../app.component";

.how-it-works-page_header {
  width: $full-size;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: $white;
  text-align: center;
  background-size: cover;
  background-image: url(../../../assets/how-it-works-page-bg.jpg);
}

.how-it-works-page_body {
  padding: 50px;
  color: $white;
}
