<div class="change-password-page_header">
  <div class="change-password-page_header-inner">
    <h1>CHANGE PASSWORD</h1>
  </div>
</div>
<form class="change-password-page_form" [formGroup]="changePasswordForm">
  <fieldset class="change-password-page_form-fieldset">
    <input type="password" formControlName="password" title="Password" placeholder="OLD PASSWORD" maxlength="25">
    <br>
    <input type="password" formControlName="newPassword" title="New password" placeholder="NEW PASSWORD" maxlength="25">
    <br>
    <button [ngClass]="{isReady: isReadyToBeSubmitted}" (click)="submitForm()">SUBMIT CHANGE</button>
  </fieldset>
  <div class="change-password-page_form-error" *ngIf="changePasswordFormError"><br>{{changePasswordFormError}}</div>
</form>
