<div class="change-password-page_header">
  <div class="change-password-page_header-inner">
    <h1>CHANGE PASSWORD</h1>
  </div>
</div>
<form class="change-password-page_form" [formGroup]="changePasswordForm">
  <input type="password" formControlName="password" title="Password" placeholder="OLD PASSWORD">
  <br>
  <input type="password" formControlName="newPassword" title="New password" placeholder="NEW PASSWORD">
  <br>
  <button [ngClass]="{isReady: isReadyToBeSubmitted}" (click)="submitForm()">SUBMIT CHANGE</button>
  <div class="change-password-page_form-error" *ngIf="changePasswordFormError"><br>{{changePasswordFormError}}</div>
</form>
