@import "../../app.component";

.change-password-page_header {
  width: $full-size;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: $white;
  text-align: center;
  background-size: cover;
  background-image: url(../../../assets/change-password-page-bg.jpg);

  .change-password-page_header-inner {
    padding: 100px;
  }
}

.change-password-page_form {
  padding: 50px;
  width: 500px;
  margin: 0 auto;

  input {
    @include styled-input();
  }
  button {
    @include styled-button();
  }

  .change-password-page_form-error {
    text-align: center;
    color: $google-red;
  }
}
