@import '../../app.component';

.top-plate_plateUploadModal {
  display: block;
  position: fixed;
  top: -$full-size;
  left: 0;
  width: $full-size;
  height: $full-size;
  background: $half-transparent;
  z-index: $z-highest;

  @include use-transition($normal);

  &.is-opened {
    top: 0;
  }

  .plate-uploader_content {
    width: 572px;
    background: rgba(43, 43, 43, .5);
    border: 1px solid $cyan;
    padding: 34px 68px;
    color: $white;
    text-align: center;

    .plate-uploader_textInput {
      position: relative;
      display: block;
      font-size: 14px;
      margin-top: $btn-margin;

      input, textarea {
        @include styled-input();
        text-transform: uppercase;
      }

      textarea {
        padding: 10px 20px;
        line-height: 20px;
      }
    }

    .plate-uploader_textInputComment {
      font-size: 7px;
      position: absolute;
      bottom: -12px;
      left: 0;
    }

    .plate-uploader_imageInput {
      width: $full-size;
      height: 300px;
      margin-top: $btn-margin;
    }

    .plate-uploader_button {
      display: block;
      width: $full-size;
      background: $transparent;
      border: 1px solid $cyan;
      color: $white;
      font-size: 14px;
      margin-top: $btn-margin;
      line-height: $form-elem-height - 2;
      opacity: .7;
      cursor: not-allowed;

      &.isReady {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

