$black: #000;
$grey-darkest: #111;
$grey-dark: #666;
$white: #fff;

$cyan: #87f8cf;
$cyan-dark: #69e0b5;
$cyan-darkest: #467d68;
$google-red: #de4c2f;
$google-red-dark: #c5432b;
$facebook-blue: #264285;
$facebook-blue-dark: #253b75;
$email-grey: #384346;
$email-grey-dark: #2e383b;
$yellow-faint: #f9ff49;
$yellow: #fded17;
$yellow-bright: #ffe400;
$nav-grey-dark: #253b39;
$nav-grey-light: #385553;


$half-transparent: rgba(0,0,0,.5);
$transparent-white: rgba(255, 255, 255, .1);
$transparent: rgba(0,0,0,0);

$half-opacity: .7;

$full-size: 100%;
$half-size: 50%;

$immediate: 0ms;
$fast: 100ms;
$normal: 500ms;
$slow: 1000ms;
$very-slow: 5000ms;

$z-lowest: -100;
$z-lower: -1;
$z-low: 0;
$z-high: 100;
$z-higher: 1000;
$z-highest: 5000;

$page-width: 1290px;
$nav-height: 100px;
$nav-logo-width: 240px;
$nav-logo-height: 60px;
$nav-logo-margin: 20px;
$nav-z-index: $z-high;

$secondary-nav-height: 58px;

$letter-spacing-small: 1px;
$letter-spacing-big: 5px;

$btn-padding: 10px 20px;
$btn-font-size: 14px;
$btn-margin: 28px;

$form-elem-height: 42px;
$form-elem-padding: $btn-padding;
$form-elem-margin: 14px;
$form-element-default-color: $grey-dark;


@mixin top-plate_page () {
  padding-top: $nav-height;
}

@mixin linear-gradient ($position: left, $from: $half-transparent, $to: $black) {
  background: $to;
  background: -moz-linear-gradient($position, $from 0%, $to 100%);
  background: -webkit-gradient(linear, $position, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient($position, $from 0%,$to 100%);
  background: -o-linear-gradient($position, $from 0%,$to 100%);
  background: linear-gradient($position, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

@mixin linear-gradient-left ($from: $half-transparent, $to: $black) {
  background: $to;
  background: -moz-linear-gradient(left, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(left, $from 0%,$to 100%);
  background: -o-linear-gradient(left, $from 0%,$to 100%);
  background: linear-gradient(to right, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

@mixin linear-gradient-right ($from: $half-transparent, $to: $black) {
  background: $to;
  background: -moz-linear-gradient(right, $from 0%, $to 100%);
  background: -webkit-gradient(linear, right, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(right, $from 0%,$to 100%);
  background: -o-linear-gradient(right, $from 0%,$to 100%);
  background: linear-gradient(to left, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$to}, endColorstr=#{$from});
}

@mixin linear-gradient-top ($from: $half-transparent, $to: $black) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, top, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$to}, endColorstr=#{$from});
}

@mixin use-transition ($speed: $normal) {
  -webkit-transition: $speed;
  -moz-transition: $speed;
  -ms-transition: $speed;
  -o-transition: $speed;
  transition: $speed;
}

@mixin transformed ($transformation) {
  -moz-transform: $transformation;
  -o-transform: $transformation;
  -ms-transform: $transformation;
  -webkit-transform: $transformation;
  transform: $transformation;
}

@mixin transformed-origin ($x: 50%, $y: 50%) {
  moz-transform-origin: $x $y;
  -o-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  -webkit-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin no-select {
  -webkit-touch-callout: none!important;
  -webkit-user-select: none!important;
  -khtml-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}

@mixin styled-input {
  padding: 0 20px;
  display: block;
  background: $half-transparent;
  width: $full-size;
  line-height: $form-elem-height - 2;
  border: 1px solid $cyan-darkest;
  outline: none;
  color: $white;
  text-align: center;
}

@mixin styled-button {
  display: block;
  width: $full-size;
  background: $transparent-white;
  border: 1px solid $cyan;
  color: $white;
  font-size: 14px;
  margin-top: $btn-margin;
  line-height: $form-elem-height - 2;
  opacity: .7;
  cursor: not-allowed;

  &.isReady {
    opacity: 1;
    cursor: pointer;
    @include use-transition();

    &:hover {
      background: $cyan;
      color: $black;
    }
  }
}


body {
  &.no-select {
    & * {
      @include no-select();
    }
  }

  &.ns-resize {
    &, & * {
      cursor: ns-resize!important;
    }
  }
}

.top-plate_main {
  display: block;
  min-width: $page-width;
}

.top-plate_globalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: $full-size;
  height: $full-size;
  background: rgba(0,0,0,.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  z-index: $z-highest + 50;

  .top-plate_globalOverlayIcon {
    display: block;
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}

.tp-header_spacer {
  height: $nav-height;
}
