<app-tp-header [items]="headerLinks"></app-tp-header>

<div class="tp-header_spacer"></div>

<app-tp-scrollable>
  <div class="tp-page-content"><router-outlet></router-outlet></div>
  <app-tp-footer [banner]="banner" *ngIf="!isAdminRoute"></app-tp-footer>
</app-tp-scrollable>

<app-tp-sign-in-modal></app-tp-sign-in-modal>

<app-tp-plate-upload-modal></app-tp-plate-upload-modal>

<app-tp-plate-edit-modal></app-tp-plate-edit-modal>

<div class="top-plate_globalOverlay" [hidden]="isReadyToBeShown">
  <i class="top-plate_globalOverlayIcon fa fa-circle-o-notch fa-spin"></i>
</div>

<app-tp-growl [events]="appGrowl['events']"></app-tp-growl>


