@import "../../app.component";

.top-plate_imageUploader {

  position: relative;
  display: block;
  overflow: hidden;
  background: $white;

  .top-plate_imageUploader_background {
    width: $full-size;
    height: $full-size;
    background-size: cover;
    background-position: center center;
  }

  .top-plate_imageUploader_trigger {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(100, 100, 100, .7);
    width: $full-size;
    height: $full-size;
    margin: 0;

    .top-plate_imageUploader_label {
      display: block;
    }

    input[type=file] {
      display: none;
    }

    &.hasImage {
      background: $transparent;
      color: $transparent;
      font-size: 39px;
      @include use-transition($fast);

      &:hover {
        background: rgba(0, 0, 0, .4);
        color: $white;
      }
    }
  }

  .top-plate_imageUploader_checkbox {
    display: none;
  }

  .top-plate_imageUploader_closeBtn {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url(../../../assets/icons/close_icon.png);
    background-position: center center;
  }

  .top-plate_imageUploader_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center center;
    background-image: url(../../../assets/icons/upload_photo_icon.png);
  }
}
