@import '../../app.component';

.tp-grid {

  display: block;

  thead {
    background: #fff;
    color: #000;
  }

  .tp-grid-fixed-header {
    position: fixed;
    top: -200px;
    left: 0;
    z-index: $z-highest;

    &.isVisible {
      top: 100px;
    }
  }

  .tp-grid-table {

    .tp-grid-header-cell {

      cursor: pointer;

      &.isSelected {
        background: #337ab7;
        color: #fff;
      }

      .tp-grid-header-cell-inner {
        position: relative;
        padding-right: 20px;

        .tp-grid-header-cell-icon {
          position: absolute;
          right: 0;
          top: 3px;
        }
      }
    }

    .tp-grid-type-color {
      text-align: center;
    }

    .tp-grid-body-row {
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, .3);
      }
    }

    .tp-grid-cell-list {
      padding: 0;

      .tp-grid-cell-list-item {
        list-style: none;
      }
    }

    .tp-grid-cell-color-label {
      font-size: 10px;
    }
  }
}


