@import '../../app.component';

.tp-grid {

  display: block;

  thead {
    background: #fff;
    color: #000;
  }

  .tp-grid-fixed-header {
    position: fixed;
    top: -200px;
    left: 0;
    z-index: $z-highest;

    &.isVisible {
      top: 100px;
    }
  }

  .tp-grid-table,
  .tp-grid-table-fixed {

    .tp-grid-header-cell {

      cursor: default;

      &.isSelected {
        background: #337ab7;
        color: #fff;
      }

      &.isSortable {
        cursor: pointer;
      }
    }

    .tp-grid-type-color {
      text-align: center;
    }

    .tp-grid-body-row {
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, .3);
      }
    }

    .tp-grid-cell-list {
      padding: 0;

      .tp-grid-cell-list-item {
        list-style: none;
      }
    }

    .tp-grid-cell-color-label {
      font-size: 10px;
    }
  }

  .tp-grid-header-cell-inner {
    position: relative;
    padding-right: 20px;
    white-space: nowrap;

    .tp-grid-header-cell-icon {
      position: absolute;
      right: 0;
      top: 50%;
      @include transformed(translate(0, -50%));
    }
  }
}


