<div class="tp-infinite-list_content">
  <div class="tp-infinite-list_item"
       *ngFor="let item of list"
       [ngClass]="{'isNewOne': item['isNewOne']}"
       [ngStyle]="{'width': settings['width'] + 'px', 'height': settings['height'] + 'px'}">
    <app-plate-preview [model]="item" [settings]="settings"></app-plate-preview>
  </div>
  <div class="tp-infinite-list_scrollMarker"></div>
</div>
<div class="tp-infinite-list_preload" [ngClass]="{'isVisible': !isFinalized && endOfListReachedEventEmitted}">
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <div class="tp-infinite-list_preloadImages"></div>
</div>

