<div class="contacts-page_content">
  <form class="contacts-page_form uppercase roboto-light" [formGroup]="contactForm">
    <fieldset>
      <br>
      <input type="text" class="uppercase roboto-light" formControlName="name" placeholder="YOUR NAME" maxlength="25">
      <br>
      <input type="email" class="uppercase roboto-light" formControlName="email" placeholder="EMAIL ADDRESS*" maxlength="25">
      <br>
      <textarea class="uppercase roboto-light" formControlName="message" cols="30" rows="5" placeholder="YOUR MESSAGE" maxlength="140"></textarea>
      <br>
      <button [ngClass]="{isReady: isReadyToBeSubmitted}" type="submit" (click)="sendRequest()">SEND</button>
    </fieldset>
  </form>
  <div class="contacts-page_details uppercase roboto-light">
    <p class="contacts-page_details_header">contact us</p>
    <p class="contacts-page_details_phone">
      <span>local phone</span><br>
      <span>{{contactsData['phone']}}</span>
    </p>
    <p class="contacts-page_details_fax">
      <span>fax</span><br>
      <span>{{contactsData['fax']}}</span>
    </p>
    <p class="contacts-page_details_address">
      <span>{{contactsData['address']}}</span>
    </p>
    <!--<p class="contacts-page_details_social">-->
      <!--<span>follow us</span><br>-->
      <!--<span>{{contactsData['address']}}</span>-->
    <!--</p>-->
  </div>
</div>
