@import "../../app.component";

.contacts-page_content {

  width: $full-size;
  min-height: 500px;
  position: relative;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  color: $white;
  text-align: center;
  background-size: cover;
  background-image: url(../../../assets/contacts-page-bg.jpg);

  .contacts-page_details {
    position: absolute;
    line-height: 20px;
    text-align: left;
    left: 0;
    width: 380px;
    padding: 0 100px;
  }

  .contacts-page_form {

    input, textarea {
      @include styled-input();
    }

    textarea {
      padding: 10px 20px;
      line-height: 20px;
    }

    button {
      @include styled-button();
    }
  }
}
