<div class="search-plate_spacer"></div>

<app-tp-infinite-list [customSettings]="itemSettings" [events]="infiniteScrollEvents"></app-tp-infinite-list>

<!--<div class="search-plate_items">-->
  <!--<app-tp-infinite-list [customSettings]="itemSettings" [events]="infiniteScrollEvents"></app-tp-infinite-list>-->

  <!--&lt;!&ndash;<div class="search-plate_item"&ndash;&gt;-->
       <!--&lt;!&ndash;*ngFor="let item of items"&ndash;&gt;-->
       <!--&lt;!&ndash;[ngStyle]="{'width': itemSettings['width'] + 'px', 'height': itemSettings['height'] + 'px'}">&ndash;&gt;-->
    <!--&lt;!&ndash;<app-plate-preview [model]="item" [settings]="itemSettings"></app-plate-preview>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

<div class="search-plate_input">
  <div class="search-plate_inputInner">
    <div class="search-plate_inputIcon"></div>
    <input type="text"
           class="search-plate_input-target uppercase roboto-light"
           (keyup)="onKeyPressed($event)"
           placeholder="SEARCH PLATES">
  </div>
</div>
