@import "../../app.component";

.top-plate_signInModal {

  .top-plate_signInModal_content {
    width: 290px;
    color: white;
    text-align: center;
    font-size: 14px;
  }

  .top-plate_signInModal_environmentSelectorButtons {

    height: $form-elem-height;
    width: $full-size;
    margin-bottom: $form-elem-margin;

    .top-plate_signInModal_environmentSelectorButton {
      display: inline-block;
      height: $full-size;
      width: $half-size;
      line-height: $form-elem-height;
      background: $form-element-default-color;
      opacity: $half-opacity;
      color: $white;
      cursor: pointer;
      @include use-transition($normal);

      &.isSelected {
        background: $cyan-dark;
        opacity: 1;
      }
    }
  }

  .top-plate_signInModal_logInMethods {
    .top-plate_signInModal_logInMethod {
      display: block;
      position: relative;
      width: $full-size;
      height: $form-elem-height;
      line-height: $form-elem-height;
      margin-bottom: $form-elem-margin;
      cursor: pointer;
      opacity: .8;
      padding-left: $form-elem-height;
      @include use-transition($normal);

      .top-plate_signInModal_logInMethod_icon {
        display: inline-block;
        position: absolute;
        text-align: center;
        line-height: $form-elem-height;
        top: 0;
        left: 0;
        width: $form-elem-height;
        height: $form-elem-height;
      }

      &:hover {
        opacity: 1;
      }

      &.signIn-google {
        background: $google-red;
        .top-plate_signInModal_logInMethod_icon {
          background: $google-red-dark;
        }
      }

      &.signIn-facebook {
        background: $facebook-blue;
        .top-plate_signInModal_logInMethod_icon {
          background: $facebook-blue-dark;
        }
      }

      &.signIn-email {
        background: $email-grey;
        .top-plate_signInModal_logInMethod_icon {
          background: $email-grey-dark;
        }
      }
    }
  }

  .top-plate_signInModal_bottomBlock {

    text-align: left;

    .top-plate_signInModal_termsAndPrivacy {
      margin: 20px 0;

      a {
        border-bottom: 1px solid $cyan;
        cursor:pointer;
      }
    }

    .top-plate_signInModal_subscribe {
      margin-bottom: 20px;
      cursor: pointer;

      .top-plate_signInModal_subscribeCheckbox {
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid $cyan;
        text-align: center;
        font-size: 10px;
        color: $transparent;
        @include use-transition($normal);

        &.isChecked {
          color: $white;
        }
      }
    }

    .top-plate_signInModal_close {
      font-size: 12px;
      cursor: pointer;
      opacity: .7;
      @include use-transition($normal);

      &:hover {
        opacity: .9;
      }
    }
  }

  .login-local-form {
    display: block;

    input {
      @include styled-input();
      margin-top: 10px;
      display: block;
    }

    button {
      @include styled-button();
      display: inline-block;
      width: $half-size;
      vertical-align: top;
    }
  }

  .login-local-form-errors {
    color: $google-red;
  }
}
