<app-modal class="top-plate_signInModal" [(state)]="state">

  <div class="top-plate_signInModal_content roboto-light">
    <div class="welcome-banner"></div>
    <p class="top-plate_signInModal_environmentSelectorLabel">Choose your environment</p>

    <div class="top-plate_signInModal_logInMethods">
      <div class="top-plate_signInModal_logInMethod btn-{{method.className}}"
           *ngFor="let method of logInMethods"
           (click)="method.onClick && method.onClick()"
           [ngClass]="method.className">
        <span class="top-plate_signInModal_logInMethod_label">{{method.label}}</span>
        <i class="top-plate_signInModal_logInMethod_icon fa fa-{{method.icon}}"></i>
      </div>

      <form [formGroup]="loginLocalForm" *ngIf="showLocalLoginForm">
        <fieldset class="login-local-form">
          <input type="text" formControlName="email" title="email" placeholder="EMAIL" />
          <input type="password" formControlName="password" title="password" placeholder="PASSWORD" />
          <button [ngClass]="{isReady: loginLocalForm.valid}" (click)="onLoginLocalFormSubmit()">SIGN IN</button>
        </fieldset>
      </form>
    </div>

    <div class="top-plate_signInModal_bottomBlock">
      <div class="top-plate_signInModal_termsAndPrivacy">
        <small class="roboto-light">By using our service, you agree to our<br><a>Privacy Police</a> and <a>Terms of Service</a></small>
      </div>

      <div class="top-plate_signInModal_subscribe">
        <label (click)="wantToSubscribe = !wantToSubscribe">
          <span class="top-plate_signInModal_subscribeCheckbox"
                [ngClass]="{'isChecked': wantToSubscribe}">
            <i class="fa fa-check"></i>
          </span>
          <small class="roboto-light">Subscribe for updates</small>
        </label>
      </div>

      <a class="top-plate_signInModal_close roboto-light"
         (click)="toggleState(false)">SKIP TO TRY WITHOUT PERSONALIZATION</a>
    </div>

  </div>

</app-modal>

