@import "../../app.component";

.admin-requests {

  padding: 100px;
  color: $white;


}

.admin-requests-modal-content {
  width: 572px;
  background: rgba(43, 43, 43, .5);
  border: 1px solid $cyan;
  padding: 34px 68px;
  color: $white;
  text-align: center;

  textarea {
    @include styled-input();
    text-transform: uppercase;
    padding: 10px 20px;
    height: 250px;
  }

  button {
    display: block;
    width: $full-size;
    background: $transparent;
    border: 1px solid $cyan;
    color: $white;
    font-size: 14px;
    margin-top: $btn-margin;
    line-height: $form-elem-height - 2;
    cursor: pointer;
  }
}
